@model VeterinariaCoreMVC.Models.Users
@{
    ViewData["Title"] = "Login";
}

<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VeterinariaCoreMVC.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/400743649d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="background-image: url('/Imagenes/fondovet.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-5 pt-5">
                <div class="card px-4 py-5 border-0" style="border-radius: 1rem; background-color: rgba(255, 255, 255, 0.7); border-radius: 10px;">
                    <div class="card-body">
                        <form asp-controller="Login" asp-action="Login" method="post" id="loginForm">
                            <div class="mb-3">
                                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.ErrorMessage
                                    </div>
                                }

                                <h6 class="text-center mb-5">Login</h6>
                                <div class="form-group">
                                    <select id="tipoDoc" asp-for="TipoDoc" asp-items="@(new SelectList(ViewBag.TipoDoc, "Value", "Text"))" class="form-control">
                                        <option value="">Seleccionar Tipo de Documento</option>
                                    </select>
                                    <span asp-validation-for="TipoDoc" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group mb-3">
                                    <input id="ndoc" name="ndoc" placeholder="Ingresa el Numero de DOC" class="form-control" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group mb-3">
                                    <input id="pasw" name="pasw" placeholder="Ingresa el password" class="form-control" type="password" />
                                </div>
                            </div>
                            <div class="d-grid gap-2 mt-5">
                                <button type="submit" class="btn bgRosa">Ingresar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>