@{
    Layout = "_Layout";
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3" style="padding:0; background-color: #f7e8e980 ; width: 100%;">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Login" style="font-size: 1rem;color: #dfb9c6;">
                                <i class="fa-solid fa-right-from-bracket" style="color: #dfb9c6;"></i> Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <h1>Bienvenido @ViewBag.userActual a la página principal</h1>
        
    </div>
</body>
