<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VeterinariaCoreMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VeterinariaCoreMVC.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/400743649d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    @if (ViewBag.trabajador != null)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3" style="padding:0; background-color: #f7e8e980 ;">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Ventas" asp-action="Index">
                        <img src="@Url.Content("/Imagenes/logo.png")"
                             alt="Flowersshoes" style="height:50px" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                        <ul class="navbar-nav flex-grow-0">
                            @if (ViewBag.rolTrabajador == 1 || ViewBag.rolTrabajador == 2)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Ventas" asp-action="Index" style="font-size: 1.2rem;color: black;"><i class="fa-solid fa-shopping-cart" style="color: #dfb9c6;"></i> &nbsp; Ver Mascotas </a>
                                </li>
                            }
                            @if (ViewBag.rolTrabajador == 1 || ViewBag.rolTrabajador == 3)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Ingresos" asp-action="NuevoIngreso" style="font-size: 1.2rem;color: black;"><i class="fa-solid fa-truck" style="color: #dfb9c6;"></i> &nbsp; Hacer Donación </a>
                                </li>
                            }
                            
                                    

                                   

                                
                            @if (ViewBag.rolTrabajador == 1)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.2rem;color: black;">
                                        <i class="fa-solid fa-file-lines" style="color: #dfb9c6;"></i> &nbsp; Resportes
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border: 1px solid #ad85999c;">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Ventas" asp-action="ReporteVentas"><i class="fa-solid fa-chart-line" style="color: #dfb9c6;"></i> &nbsp; Reporte de ventas </a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Ingresos" asp-action="ReporteIngresos"><i class="fa-solid fa-file-invoice" style="color: #dfb9c6;"></i> &nbsp; Reporte de Ingresos </a></li>
                                    </ul>

                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Login" style="font-size: 1.2rem;color: black;"><i class="fa-solid fa-right-from-bracket" style="color: #dfb9c6;"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class=" w-100 py-1 m-1 " style=" background-color: rgba(242, 238, 235, 0.2)">
                <div class="container d-flex justify-content-end">
                    <span class="pe-3">Usuario: @ViewBag.NombresTrabajador </span>
                </div>
               
            </div>
        </header>
    }
    
    <div class="container">
        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
